/* 전체 기본 설정 */

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family: 'Times New Roman', serif;
  
   background:#020817;

  background-image:
  linear-gradient(rgba(120,170,255,0.08) 1px, transparent 1px),
  linear-gradient(90deg, rgba(120,170,255,0.08) 1px, transparent 1px);

  background-size:40px 40px;
  
  color:#8fb3ff;
  letter-spacing:1px;
  cursor:none;
}

/* =========================
   LOGIN PAGE
========================= */

.login-body{
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
}

.login-container{
  display:flex;
  flex-direction:column;
  align-items:center;
  gap:18px;
}

.login-container h1{
  font-size:22px;
  letter-spacing:8px;
  margin-bottom:20px;
}

.login-container input{
  width:230px;
  padding:10px;

  background:transparent;
  border:1px solid #2d5fb8;

  color:white;
  font-size:16px;
}

.login-container input::placeholder{
  color:#6f7fa8;
}

.login-container button{
  margin-top:20px;

  width:100px;
  height:40px;

  background:transparent;
  border:1px solid #4b8dff;

  color:#8fb3ff;
  font-weight:bold;
  letter-spacing:2px;

  cursor:pointer;

  transition:0.3s;
}

.login-container button:hover{
  background:#0f1f44;
}

.status{
  margin-top:5px;
  font-size:11px;
  color:#6d7690;
  letter-spacing:3px;
}

/* =========================
   HOME PAGE
========================= */

.home-body{
  min-height:100vh;
}

/* 상단 메뉴 */

header{
  width:100%;
  height:70px;

  display:flex;
  justify-content:space-between;
  align-items:center;

  padding:0 30px;

  border-bottom:1px solid rgba(255,255,255,0.08);
}

.logo{
  font-size:16px;
  letter-spacing:8px;
  color:#6da0ff;
}

nav{
  display:flex;
  gap:45px;
}

nav a{
  color:#9fb8ff;
  text-decoration:none;
  transition:0.3s;
  font-size:13px;
}

nav a:hover{
  color:white;
}

/* 메인 */

.hero{
  padding:190px 60px;
}

.main-title{
  font-size:52px;

  margin-bottom:30px;

  letter-spacing:14px;

  color:#b6ccff;

  font-weight:bold;

  text-shadow:
0 0 5px rgba(100,160,255,0.5),
0 0 15px rgba(100,160,255,0.25);

animation:titleFlicker 4s infinite;
}

  .cursor{
  animation:blink 1s infinite;
}

@keyframes blink{
  50%{
    opacity:0;
  }
}

@keyframes blink{
  50%{
    opacity:0;
  }
}

.description{
  width:900px;

  font-size:18px;

  line-height:1.8;

  color:#b0b9d4;
}

/* =========================
   VERIFICATION PAGE
========================= */

.verify-box{
  border:1px solid rgba(120,170,255,0.3);

  padding:50px 60px;

  width:420px;

  background:rgba(0,0,0,0.2);

  box-shadow:0 0 40px rgba(80,120,255,0.08);
}

.verify-top{
  margin-bottom:40px;

  letter-spacing:6px;

  color:#8fb3ff;

  font-size:14px;
}

.checkbox-container{
  display:flex;
  align-items:center;

  gap:20px;

  cursor:pointer;
}

.checkbox-container input{
  display:none;
}

.custom-box{
  width:32px;
  height:32px;

  border:1px solid #4b8dff;

  display:flex;
  justify-content:center;
  align-items:center;
}

.custom-box::after{
  content:"";

  width:16px;
  height:16px;

  background:#8fb3ff;

  opacity:0;

  transition:0.3s;
}

.checkbox-container input:checked + .custom-box::after{
  opacity:1;
}

.verify-text{
  font-size:18px;

  letter-spacing:3px;

  color:#d5e2ff;
}

.warning-text{
  margin-top:40px;

  font-size:11px;

  letter-spacing:4px;

  color:#6f7fa8;
}

.checkbox-container:hover .custom-box{
  border-color:#8fb3ff;
}

/* =========================
   CUSTOM CURSOR
========================= */

body{
  cursor:none;
}

.custom-cursor{
  position:fixed;

  top:0;
  left:0;

  pointer-events:none;

  z-index:9999;
}

.cursor-circle{
  position:fixed;

  width:18px;
  height:18px;

  border:none;

  border-radius:50%;

  transform:translate(-50%, -50%);
}

.cursor-circle::before,
.cursor-circle::after{
  content:"";

  position:fixed;

  background:#4b8dff;

  box-shadow:0 0 8px rgba(75,141,255,0.7);
}

.cursor-circle::before{
  width:1px;
  height:18px;

  left:50%;
  top:0;

  transform:translateX(-50%);
}

.cursor-circle::after{
  width:18px;
  height:1px;

  top:50%;
  left:0;

  transform:translateY(-50%);
}

.cursor-dot{
  position:fixed;

  width:4px;
  height:4px;

  background:#8fb3ff;

  border-radius:50%;

  box-shadow:0 0 10px rgba(75,141,255,0.9);

  transform:translate(-50%, -50%);
}

.cursor-coords{
  position:fixed;

  top:18px;
  left:18px;

  font-size:9px;

  color:#4b8dff;

  letter-spacing:2px;

  white-space:nowrap;

  text-shadow:0 0 6px rgba(75,141,255,0.5);
}

.hide-cursor{
  opacity:0;
}

@keyframes titleFlicker{

  0%{
    opacity:1;
  }

  96%{
    opacity:1;
  }

  97%{
    opacity:0.75;
  }

  98%{
    opacity:1;
  }

  99%{
    opacity:0.85;
  }

  100%{
    opacity:1;
  }
}

/* =========================
   ARCHIVE BOX
========================= */

.archive-list{
  margin-top:80px;

  display:flex;
  flex-direction:column;

  gap:20px;

  width:720px;
}

.archive-box{
  display:flex;

  justify-content:space-between;
  align-items:center;

  padding:25px 30px;

  border:1px solid rgba(120,170,255,0.2);

  background:rgba(255,255,255,0.02);

  text-decoration:none;

  transition:0.3s;
}

.archive-box:hover{
  border-color:#4b8dff;

  background:rgba(80,120,255,0.05);

  transform:translateX(4px);
}

.archive-box h2{
  color:#c8d8ff;

  font-size:22px;

  letter-spacing:4px;

  margin-bottom:8px;
}

.archive-box p{
  color:#8a97b8;

  font-size:14px;
}

.archive-go{
  color:#6da0ff;

  font-size:16px;

  letter-spacing:3px;
}

.history-header{
  margin-top:-3px;
}

/* =========================
   HISTORY RECORD
========================= */

.history-record{
  margin-top:80px;

  width:100%;

  max-width:1000px;

  border-left:1px solid rgba(120,170,255,0.2);

  padding-left:30px;
}

.record-number{
  color:#5f7fc4;

  font-size:12px;

  letter-spacing:4px;

  margin-bottom:20px;
}

.record-title{
  color:#dbe6ff;

  font-size:32px;

  letter-spacing:3px;

  margin-bottom:25px;
}

.record-text{
  color:#9aa8c7;

  font-size:16px;

  line-height:1.9;
}

/* =========================
   CHARACTERS
========================= */

.characters-page{
  padding:140px 120px;
}

.characters-title{
  font-size:52px;

  color:#eef3ff;

  margin-bottom:20px;
}

.characters-sub{
  color:#8c98b8;

  margin-bottom:60px;

  font-size:18px;
}

.character-grid{
  display:flex;

  gap:50px;

  flex-wrap:wrap;
}

.character-card{
  position:relative;

  width:390px;
  height:390px;

  overflow:hidden;

  border-radius:18px;

  text-decoration:none;

  background:#111;

  transition:0.4s;

  box-shadow:
  0 0 20px rgba(120,100,255,0.08);
}

.character-card img{
  width:100%;
  height:100%;

  object-fit:cover;

  transition:0.4s;
}

.character-card::after{
  content:"";

  position:absolute;

  inset:0;

  background:linear-gradient(
    to top,
    rgba(0,0,0,0.9),
    rgba(0,0,0,0.1)
  );
}

.character-overlay{
  position:absolute;

  bottom:40px;
  left:35px;

  z-index:2;
}

.character-group{
  color:#ae7dff;

  font-size:15px;

  margin-bottom:12px;
}

.character-overlay h2{
  color:white;

  font-size:54px;

  margin-bottom:10px;
}

.character-overlay span{
  color:#b8c2de;

  font-size:20px;
}

.character-card:hover{
  transform:translateY(-8px);

   box-shadow:
  0 0 40px rgba(130,100,255,0.22),
  0 0 80px rgba(90,120,255,0.12);
}

.character-card:hover img{
  transform:scale(1.04);

  filter:brightness(1.1);
}

/* 등장 애니메이션 */

.character-card{
  opacity:0;

  transform:
  translateY(40px);

  transition:
  opacity 0.8s ease,
  transform 0.8s ease;
}

.character-card.show{
  opacity:1;

  transform:
  translateY(0);
}

/* =========================
   PROFILE PAGE
========================= */

.profile-body{
  margin:0;

  background:#040816;

  color:white;

  cursor:none;

  overflow-x:hidden;
}

/* 배경 */

.profile-bg{
  position:fixed;

  inset:0;

  background:
  radial-gradient(
    circle at top left,
    rgba(125,70,255,0.10),
    transparent 35%
  );

  pointer-events:none;

  z-index:-1;
}



/* 전체 */

.profile-page{
  max-width:1400px;

  margin:auto;

  padding:
  40px 60px 80px;
}



/* 뒤로가기 */

.back-button{
  color:#8c97b2;

  text-decoration:none;

  font-size:15px;

  transition:0.25s;
}

.back-button:hover{
  color:white;
}



/* 좌우 */

.profile-layout{
  display:flex;

  gap:55px;

  margin-top:25px;

  align-items:flex-start;
}



/* 왼쪽 */

.profile-left{
  width:360px;
}



/* 대사 */

.quote{
  display:flex;

  align-items:center;

  gap:16px;

  font-size:28px;

  font-weight:700;

  line-height:1.4;

  margin-bottom:40px;

  color:white;
}

.quote-mark{
  color:#b26cff;

  font-size:42px;

  line-height:1;

  flex-shrink:0;
}

/* 코드 */

.profile-id{
  color:#b26cff;

  letter-spacing:4px;

  font-size:12px;

  margin-bottom:14px;
}



/* 이름 */

.profile-name{
  font-size:64px;

  line-height:0.95;

  margin:0;
}



/* 영어 */

.profile-eng{
  margin-top:10px;

  font-size:19px;

  color:#92a0bd;

  letter-spacing:3px;

  margin-bottom:38px;
}



/* 정보 카드 */

.info-grid{
  display:grid;

  grid-template-columns:
  1fr 1fr;

  gap:14px;
}



/* 카드 */

.info-card{
  background:
  rgba(255,255,255,0.025);

  border:
  1px solid rgba(255,255,255,0.06);

  border-radius:18px;

  padding:18px;

  min-height:92px;

  backdrop-filter:blur(10px);

  transition:0.35s;
}



.info-card:hover{
  transform:
  translateY(-4px);

  border:
  1px solid rgba(180,120,255,0.22);

  box-shadow:
  0 0 24px rgba(130,90,255,0.10);
}



/* 카드 제목 */

.info-card span{
  display:block;

  color:#7f8ba7;

  font-size:11px;

  margin-bottom:12px;
}



/* 카드 내용 */

.info-card strong{
  font-size:15px;

  line-height:1.5;
}



/* 보라 박스 */

.past-box{
  margin-top:16px;

  background:
  rgba(88,0,160,0.16);

  border:
  1px solid rgba(165,90,255,0.25);

  border-radius:18px;

  padding:18px;
}



.past-box span{
  display:block;

  color:#c27dff;

  font-size:11px;

  margin-bottom:8px;
}



.past-box strong{
  font-size:20px;
}



/* 오른쪽 */

.profile-right{
  flex:1;

  padding-top:140px;
}



/* 섹션 */

.content-section,
.warning-section,
.secret-section{
  margin-bottom:42px;
}



/* 제목 */

.profile-right h3{
  font-size:26px;

  margin-bottom:14px;
}



/* 선 */

.line{
  width:100%;

  height:1px;

  background:
  rgba(255,255,255,0.08);

  margin-bottom:22px;
}



/* 설명 */

.profile-text{
  color:#d0d7ea;

  font-size:15px;

  line-height:2;
}



/* 경고 제목 */

.warning-section h4{
  color:#ff6464;

  font-size:22px;

  margin-bottom:16px;
}



/* 빨간 박스 */

.warning-box{
  background:
  rgba(120,0,0,0.12);

  border:
  1px solid rgba(255,70,70,0.16);

  border-radius:18px;

  padding:22px;

  line-height:2;

  color:#ffd8d8;

  font-size:15px;
}



/* 비공개 */

.secret-box{
  height:120px;

  border-radius:18px;

  border:
  1px solid rgba(255,200,0,0.20);

  background:
  rgba(255,200,0,0.03);

  display:flex;

  flex-direction:column;

  justify-content:center;

  align-items:center;

  gap:10px;

  color:#8ea0cb;

  letter-spacing:3px;

  font-size:11px;

  transition:0.35s;

  cursor:pointer;
}



.secret-box:hover{
  background:
  rgba(255,200,0,0.06);

  border:
  1px solid rgba(255,220,120,0.32);

  box-shadow:
  0 0 24px rgba(255,200,0,0.05);
}



/* 자물쇠 */

.lock{
  font-size:22px;
}

.custom-cursor{
  z-index:99999;
}
